<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="utf-8">
                <meta name="author"content="walter">
                <title>theproyect</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <body>
                <nav class="navbar navbar-dark bg-dark">
                        <a class="navbar-brand" href="/perfil">perfil</a>
                        <a class="navbar-brand"href="/friends">Amigos</a>
                        <a class="navbar-brand"href="/profiles">Perfiles</a>
                        <a class="navbar-brand mx-auto"href="/">salir</a>
                </nav>
                <br><center><h1>Perfiles De Las Demas Personas</h1></center>
                <% profiles.forEach(function (profiles) { %>
		<div class="container p-4">
			<div class="row">
				<div class="col-md-4 offset-md-4">
					<div class="card animated fadeInDown" style="width: 34rem;">
						<img src="<%= profiles.path  %>" class="card-img-top" alt="<%= profiles.filename  %>">
						<div class="card-body">
							<label>Nombres</label>
							<div><%= profiles.name  %></div>
							<label>Apellidos</label>
							<div><%= profiles.last  %></div>
							<label>Intereses</label>
							<div><%= profiles.interest %></div>
							<label>Religion</label>
							<div><%= profiles.religion  %></div>
							<label>La Chica Que Le Parese Mas Bonita</label>
							<div><%= profiles.women  %></div>
							<label>Pelicula Favorita</label>
							<div><%= profiles.movie  %></div>
							<br>
							<a href="/friends/<%=profiles._id%>"class="btn btn-primary btn-block">Añadir A Mis Amigos</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% }) %>
	</body>
</html>

